statemachine/network-test.json
  {
    "Comment": "A state machine to carry out network testing on CloudFormation template",
    "StartAt": "InitializeTest",
    "States": {
      "InitializeTest": {
        "Type": "Pass",
        "Result": {
          "timerdetails":{
            "testtimerindex": 0
          },
          "routedetails":{
            "currentrouteindex": 0,
            "testbatchsize": 5,
            "isallroutestested": false
          }
        },
        "ResultPath": "$.globalvars",
        "Next": "RetrievePathToTest"
      },
      "RetrievePathToTest": {
        "Type": "Task",
        "Resource": "${RetrievePathToTestFunctionArn}",
        "ResultPath": "$.globalvars.routedetails",
        "Next": "StartAllNetworkTestState"
      },
      "StartAllNetworkTestState": {
        "Type": "Map",
        "ItemsPath": "$.globalvars.routedetails.inflightroutetotest.inflightroutes",
        "MaxConcurrency": 0,
        "Iterator":{
          "StartAt": "StartNetworkTest",
          "States":{
            "StartNetworkTest": {
              "Type": "Task",
              "Resource":"${StartNetworkTestFunctionArn}",
              "End": true
            }
          }
        },
        "ResultPath": "$.globalvars.routedetails.inflightroutetotest.inflightroutes",
        "Next": "WaitForTestToRun"
      },
      "WaitForTestToRun": {
        "Type": "Wait",
        "SecondsPath": "$.analysisDuration",
        "Next": "CheckTestStatus"
      },
      "CheckTestStatus": {
        "Type": "Task",
        "Resource": "${CheckNetworkTestStatusFunctionArn}",
        "ResultPath": "$.globalvars.routedetails.inflightroutetotest",
        "Next": "IsTestCompleted"
      },
      "IsTestCompleted": {
        "Type": "Choice",
        "Choices": [
          {
            "Variable": "$.globalvars.routedetails.inflightroutetotest.runningtestscount",
            "NumericGreaterThan": 0,
            "Next": "IncrementTestTimer"
          }
        ],
        "Default": "CleanUp"
      },
      "IncrementTestTimer": {
        "Type": "Task",
        "Resource": "${TestDurationIteratorFunctionArn}",
        "ResultPath": "$.globalvars.timerdetails",
        "Next": "IsTestDurationReached"
      },
      "IsTestDurationReached": {
        "Type": "Choice",
        "Choices": [
          {
            "Variable": "$.globalvars.timerdetails.continue",
            "BooleanEquals": true,
            "Next": "WaitForTestToRun"
          }
        ],
        "Default": "CleanUp"
      },
      "CleanUp":{
        "Type": "Task",
        "Resource": "${DeleteTestResourcesFunctionArn}",
        "ResultPath": "$.testresult",
        "Next": "IsAllRoutesTested"
      },
      "IsAllRoutesTested":{
        "Type": "Choice",
        "Choices":[
          {
            "Variable": "$.globalvars.routedetails.isallroutestested",
            "BooleanEquals": false,
            "Next": "RetrievePathToTest"
          }
        ],
        "Default": "Done"
      },
      "Done": {
        "Type": "Pass",
        "OutputPath": "$.testresult",
        "End": true
      }
    }
  }